body{
    background-color:black;
    color: white;
    font-family: "Bodoni Moda SC", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: o;
}

button{
    background-color: gray;
    color: black;
    font-family: "Bodoni Moda SC", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}